# Ignore downloaded components
prebuilt/common/apk/*.apk
prebuilt/common/apk/*.zip
prebuilt/common/lib/*
prebuilt/common/xbin/*

# Ignore generated manifest
prebuilt/common/etc/build-manifest.xml

# Ignore download stamp
prebuilt/common/.get-prebuilts
